/* INDICE:
1) GENERAL
2)INDEX
3)NOSOTROS
4)CURSOS
5)FAQ
6)OPINIONES
7)CONTACTANOS

1) GENERAL ####################################################################### */
header{
    background-color: aquamarine;
    height: 6em;
}
.logo{
    width: 5em;
    padding: .5em;
}
span{
    font-weight: bold;
}
footer{
    background-color: aquamarine;
    height: 6em;
}
/* 2)INDEX#################################################################### */

/* 3)NOSOTROS#################################################################### */

/* 4)CURSOS#################################################################### */

/* 5)FAQ#################################################################### */

/* 6)OPINIONES#################################################################### */

/* 7)CONTACTANOS#################################################################### */
.formulario{
    background-color: beige;
    border: solid 2px black;
}